<h1>Projects</h1>
<div class="divider"></div>

<h1>Reading List App using Angular</h1>
<p>The web app stores the list of all the favourite collection of books. It uses the isbn number to retrieve the book cover from the amazon database. Used angular for templating and routing in the app along with bootsrap for styling.<br/>
<a href="https://github.com/ashbhir/angular_reading_list_app">Link for github repository</a></p>

<h1>Howzzat Cricket 2D</h1>
<p>My first tryst with Android game development. The game received an overwhelming response with 70,000 downloads and a rating of 3.8 on Play store. It uses Cocos 2D framework.<br/>
<a href="https://play.google.com/store/apps/details?id=game.ashish.howzat">Link for the app on Play Store</a></p>

<h1>Ping Pong game with varying difficulty levels</h1>
<p>Made this game with Javascript in HTML canvas. It uses javascript classes and inheritance and artificial intelligence to control the movement of the robot player. The judgement of the robot player can be controlled in various difficulty levels.</p>


<h1>Qualcomm Reporting Portal</h1>
<p>A web portal for storing all the customer issues at once. This removed the hassle of updating separate PPTs by separate teams. The project is used by the Multimedia and IMS teams in Qualcomm Bangalore.<br/>
The web portal makes use of HTML tables, CSS, JQuery Ajax for updating the tables without reloading the page, along with PHP and MySql for backend.</p>

<h1>A Battery Efficient Smart Watch Design</h1>
<p>Proposed a design for a power optimised smart watch which efficiently used a rotating bezel for receiving all the user inputs and transferred them over Bluetooth to a smart phone.<br/>  
The idea made it into the finals and was presented by me at Qualcomm's Annual Technical Conference- QBuzz 2015 in front of 200 odd people including experts in IT field from Qualcomm.</p>


<h1>Quick Record and Play</h1>
<p>The console app records and simulates user's touch inputs. The application had a huge impact on the way stabilities are now being run in Qualcomm. Multimedia test teams in Bangalore as well in San Diego use this app now for simulating overnight stabilities which involve manual interventions. I also worked with teams from Microsoft for this project as this involved heavy use of MSDN APIs.</p>


<h1>PC Duino- Home Monitoring App</h1>
<p>I along with two other students from my branch made this application which basically acts as a terminal between a computer and an arduino. The application listens to all the incoming TCP requests and retransmits any data stream it receives to an RFCOMM port acting as slave. We eventually used the app to control the motion of a robot remotely.</p>





