<h1>Website Layout Designs</h1>
<div class="divider"></div>

<div class="container designs">
  <div><div class="img"><img src="img/designs/ashishgambhir.png" alt="ashishgambhir.com"/></div><p>My present portfolio home page design<br/><a href="assets/ashishgambhir.sketch">Download sketch file</a></p></div>
  <div><div class="img"><img src="img/designs/doctor_jaideep.jpg" alt="ashishgambhir.com"/></div><p>Web portfolio design for a very renowned doctor who happens to be a relative<br/><a href="assets/Doctor_jaideep.psd">Download photoshop file</a></p></div>
  <div><div class="img"><img src="img/designs/gaurav_everest.jpg" alt="ashishgambhir.com"/></div><p>A very formal business webite design<br/><a href="assets/Gaurav_Everest.psd">Download photoshop file</a></p></div>
  <div><div class="img"><img src="img/designs/agportfolio.jpg" alt="ashishgambhir.com"/></div><p>My previous portfolio page</p></div>
</div>

